:root {
  --white: #ffffff;
  --gray: #f6f7f8;
  --black: #072635;
  --light-purple: #f4f0fe;
  --turquoise: #01f0d0;
  --light-gray: #ededed;
  --dark-gray: #707070;
  --dark-pink: #e66fd2;
  --dark-purple: #8c6fe6;
  --middle-gray: #cbc8d4;
  --light-blue: #e0f3fa;
  --light-pink: #ffe6e9;
  --light-red: #ffe6f1;
}
